{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NoMachine status on {{.HostName}}</title>
    <link rel="stylesheet" href="site.css" />
  </head>
  <body>
    <div id="app">
      <h2 :class="{error: !connected}">
        NoMachine status on {{.HostName}}:
        <span v-show="loading">
          <img
            src="Spinner-1s-200px.svg"
            alt="loading"
            class="loading-spinner"
          />
        </span>
      </h2>
      <div v-if="connected" style="font-size: 150%;">
        <div v-if="isRunning" class="host-running">
          NoMachine host process is running.
        </div>
        <div v-if="isRunning">
          <div v-if="hasClient" class="attached-client">
            A client IS attached
          </div>
          <div v-else class="no-attached-client">No client is attached</div>
        </div>
        <div v-else class="host-not-running">
          NoMachine host process is NOT running.
        </div>
      </div>
      <div v-else style="font-size: 150%;">
        <div class="error">Can't get status from {{.HostName}}</div>
      </div>
      <button
        :disabled="loading"
        class="loading-spinner refresh-button"
        @click="getStatus"
      >
        <span v-show="!loading">Refresh</span>
        <img
          v-show="loading"
          src="Spinner-1s-200px.svg"
          alt="loading"
          class="loading-spinner"
        />
      </button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <input id="is-running" type="hidden" value="{{.NoMachineRunning}}" />
    <input id="client-attached" type="hidden" value="{{.ClientAttached}}" />
    <script src="index.js"></script>
  </body>
</html>
{{end}}
