body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1rem;
}
div {
  margin-top: 1rem;
  /* font-size: 150%; */
}

.attached-client {
  font-weight: bold;
  color: coral;
}
.no-attached-client {
  color: green;
}
.host-not-running {
  font-weight: bold;
  color: red;
}
.host-running {
  font-weight: bold;
  color: green;
}
.error {
  color: red;
}
.loading-spinner {
  height: 28px;
  vertical-align: bottom;
}
.refresh-button {
  margin-top: 2rem;
  width: 4rem;
}
